@import "tailwindcss";

/* For modern browsers */
* {
  scrollbar-width: thin;
  scrollbar-color: #8B7B9B #292433; /* thumb color, track color */
}

/* For WebKit browsers (Chrome, Edge, Safari) */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: #292433;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #8B7B9B;
  border-radius: 8px;
  border: 2px solid #292433; /* adds space around thumb */
  transition: background-color 0.3s ease;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #9d8cad; /* slightly lighter shade on hover */
}
